/* *{
    height: 100px;
    width:100px;
    box-sizing: border-box;
    padding: 0px;
} */
@import "tailwindcss";

/* postcss is used to combine css with the js , and this postcss was used in tailwindcss */